@{
    ViewBag.Title = "Registro Completo";
}

<h2>Registro Completo</h2>

<div class="alert-success">
    <strong>Mensaje: </strong> @ViewBag.mensaje
</div>

<div>
    @Html.ActionLink("Volver al Inicio", "Index","Home")
</div>