@{
    ViewBag.Title = "Verificacion de Usuario";
}

<h2>Verificacion de Usuario</h2>

<div class="danger alert-danger">
    <strong>Mensaje..!!</strong>  @ViewBag.Message,  haz click aquí para @Html.ActionLink("loguearse", "Ingresar", "Registro")
</div>   